Q1: What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data, typically stored and accessed electronically. SQL databases use structured query language and have a fixed schema, suitable for complex queries and transactions. NoSQL databases are schema-less, handle unstructured data, and offer high scalability and flexibility for big data and real-time web applications.



Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) defines and manages database structures.

    CREATE: Creates a new table or database.
    DROP: Deletes a table or database.
    ALTER: Modifies an existing table structure.
    TRUNCATE: Removes all records from a table without deleting the table.
    Example:
    CREATE TABLE Students (ID INT, Name VARCHAR(50));
ALTER TABLE Students ADD Age INT;
TRUNCATE TABLE Students;
DROP TABLE Students;

Q3: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) manages data within database tables.

    INSERT: Adds new records to a table.
    UPDATE: Modifies existing records in a table.
    DELETE: Removes records from a table.
    Example:

INSERT INTO Students (ID, Name) VALUES (1, 'John');
UPDATE Students SET Name = 'Jane' WHERE ID = 1;
DELETE FROM Students WHERE ID = 1;

Q4: What is DQL? Explain SELECT with an example.

DQL (Data Query Language) retrieves data from the database using the SELECT statement.
Example:


SELECT * FROM Students WHERE Age > 20;

Q5: Explain Primary Key and Foreign Key.

A Primary Key is a unique identifier for each record in a table, ensuring no duplicate values. A Foreign Key links records between tables, establishing a relationship by referencing the Primary Key in another table.
Q6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Connect to the database
conn = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM Students")

# Fetch and print the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the connection
conn.close()

Q7: Give the order of execution of SQL clauses in an SQL query.

    FROM: Specifies the tables to retrieve data from.
    JOIN: Joins tables based on a condition.
    WHERE: Filters records based on a condition.
    GROUP BY: Groups records based on one or more columns.
    HAVING: Filters groups based on a condition.
    SELECT: Specifies the columns to be retrieved.
    ORDER BY: Sorts the result set.
    LIMIT: Limits the number of rows returned.